# Python
__pycache__/
*.pyc

# Virtual Environment
venv/

# Datasets (ignore large image folders)
datasets/raw/
datasets/processed/

# Model checkpoints
models/checkpoints/

# Jupyter
.ipynb_checkpoints/

# Operating System files
.DS_Store
Thumbs.db